---
import Layout from '../layouts/Layout.astro';

---

<Layout title='About'>
<body>
    <div class="bod">
        <section class="us">
            <center>
            <h1>Real Estate Investing Coaching <br>FOR THOSE INVESTORS THAT WANT<br> TO BECOME MILLIONAIRES & live<br> the life of
                their dreams!</h1></center>
                <div class="texto">
            <p> My goal as a real estate coach with each of my programs is that my students have a paradigm shift where
                they will take the steps necessary for them to have a millionaire mindset & to make a decision today to
                become millionaires.<br><br>

                Believe it or not, I started my real estate journey in 2019. I saw a friend that was in real estate and
                was doing really well and I thought to myself, I'd better start researching this thing about investing
                in real estate. So, I started researching, reading books like Poor Dad Rich Dadd, Think and grow Rich,
                The Multifamily Millionaire, and many others. I started to join Real Estate Facebook Groups, listening
                to podcasts on wealth, on self development, and so on. I was thirsty for KNOWLEDGE and spent most of my
                free time on educating myself on real estate and how to invest in real estate. Then one day, I was
                feeling like it was not possible, and carried that belief that had been implanted by my self doubts for
                a coulple of days, then something funny happened, I heard an inner voice that said, you know what, just
                take a LEAP of faith!<br><br>

                And that was the moment that my mind started shifting to, it is possible, to then believing in it, to
                finally being in it! And that is when things really started happening for me! I started doing Joint
                Ventures on Flips, BRRRRs, Wholesaling, and just doing as many Flips and BRRRRs as possible, while also
                wholesaling properties. Through those JVs and through learning the art of wholesaling, I started making
                some serious money as I was all in on real estate.<br><br>

                At the same time, I was reading a lot of books on self development, like Bob Proctor's, Change Your
                Paradigm Change Your Life, or The Science of Getting Rich by Wallace D. Wattles, The Power of Awarness
                and the Wealth Mindset by Nevill Goddard, and so on. Looking back, I must have told my future self that
                I needed to learn everything I could on how to get rich. I was programming myselfto believe that I also
                could become rich through real estate. A big part of my coaching and how I differentiate myselffrom
                other real estate coaches is in instilling a believe in my students/mentees that they can accomplish
                anything!<br><br>

                Prior to being in real estate, I had worked for the biggest banks in Canada as a financial advisor,
                advising clients on how to save for retirement, how invest in stocks, mutual funds, options,
                derivatives, etc. Then in 2008 I had a spiritual awakening which took me toSouth Korea to teach english
                and travel around Asia. For about two years, I travelled throughout Asia, including to countries like
                India, China, the Phillipines, etc. Those two years were essential for the awakening that we are
                creators of our reality. The reason Imention this is that the universe has a way of putting all your
                experiences together in the now and all the experiences that I have had and that you too have had and
                are having that point to the wisdom that we are powerful and have the ability to create our
                lives.<br><br>

                So, why coaching for me ...<br><br>

                The reason I started coaching was that I started seeing new real estate investors that were struggling
                with one aspect or another ofeal estate investing. So instead of not doing anything and continue to
                see them struggle, I decided that I could make a difference and help them in their real estate journey.
                I coach not because of the money, I coach because I am passionate about seeing others succeed. I enjoy
                seeing my students's or mentee's growth and see them achieve goals they never thought were
                possible.<br><br>

                I have all the tools, wisdom, knowledge, and resources to help you achieve amazing things in your real
                estate business and life! This year, my goal is to touch and influence 150 new real estate investors and
                to share the message that you too can achieve more than you ever thought you could, and to have 5
                students and no more than that, so that I can really work on their mindset and help them become
                financially free through real estate.<br><br>

                It's time for you to make the decision, which is, will you be one of the five students in 2024 that I
                will teach and share everything I know, including my network, my resources, but most importantly that
                will see the biggest transformation in 2024 in your real estate business and life!<br><br>

                To schedule a DISCOVERY Call to see if there is a mutual fit in us working together, please CLICK on my
                calendar link below to schedule a meeting for us to meet at a time and date that is convenient for
                you!<br><br>

                <a
                    href="https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia">"https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia"</a>
                <br><br>

                I look forward to meeting you & helping you have the biggest mindset shift in your life and in helping
                you get the biggest results in<br> your real estate journey in 2024!<br><br>

                To your success,<br><br>

                - Rommel Pravia<br>
                Senior Real Estate Investor & Coach<br><br>

                THE FUTURE REAL ESTATE MILLIONAIRE COACHING
            </p>


        </section>

       
        <div class="section">
            <h1>Meet your Coach</h1>
            <br>
            <div class="content">
                <div class="about-5"></div>
                
                <div class="info">
                    <h3>Rommel Pravia</h3>
                    <h4>Real Estate Investing Coach</h4>
                    <p>
                        Rommel Pravia has been a successful real estate<br>
                        investor for over 5 years. With a background in finance<br>
                        and real estate, he has helped numerous clients achieve<br>
                        their investment goals. Rommel has experience in both<br>
                        residential, multifamily, & commercial real estate, and<br>
                        his expertise includes property deal analysis, financing<br>
                        & raising capital, and deal negotiation. He has<br>
                        experience doing Flips, BRRRRS, & manages over 300<br>
                        doors.
                    </p>
        
                    <h3>EDUCATION</h3>
                    <p>BA with concentration in Economics at Western</p>
                    
                    <h3>MASTERMINDS</h3>
                    <p>
                        Rich Dad Poor Dad<br>
                        Proctor Gallagher Institute<br>
                        Dale Carnegie Sales Training<br>
                        Grant Cardone Sales Training<br>
                    </p>
                </div>
            </div>
        </div>

</body>

<style>
 

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
 .bod{
    background-color: #393b3c;
 }

 .us{
    max-width: 1200px;
    margin: 0 auto;
 

 }


 .texto{
    color: #eec42e;
    
    font-size: 16px;
    text-align: left;
    position: relative; 
    margin: 0;
    padding: 0 200px;
 }

 a{
    color: #f5f5f5;
 }

h1 {
    color: #eec42e;
    text-transform: uppercase;
    font-size: 38px;
    font-style: italic;
    font-style: bold;
    text-align: left;
    position: relative; 
    margin: 0;
    padding: 0 200px;
    border-bottom: 5px solid #ffc107;
}

h3{
    font-size: 22x;
    color: #eec42e;
}

p {
    font-weight: 300;
    color: white;
    font-size: 15px;
    text-align: left;
    margin: 24px 0;
    padding: 0;
}

.section {
    background-color: #393b3c;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between; /* Espacio igual entre los elementos */
    align-items: flex-start; /* Alinear arriba verticalmente */
}

.about-5 {
    padding: 10px;
    background-image: url('Set.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* Asegura que la imagen se vea completa */
    width: 50%; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    margin: 0 40px 0 0; /* Incrementa el margen derecho para espacio entre la imagen y el texto */
}

.info {
    width: 50%; /* Ancho del texto */
    padding: 30px;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

</style>
</Layout>