---
import ProfileImage from '@assets/profile-2.jpg'
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout title='About'>
  <main class='bg-secondary-color p-4 pb-10 space-y-6 md:px-20 lg:px-44'>
    <h1
      class='text-primary-color italic text-4xl font-bold border-b-4 border-primary-color pb-4'
    >
      REAL ESTATE INVESTING COACHING FOR THOSE INVESTORS THAT WANT TO BECOME
      MILLIONAIRES & LIVE THE LIFE OF THEIR DREAMS!
    </h1>

    <p class='text-slate-100'>
      My goal as a real estate coach with each of my programs is that my
      students have a paradigm shift where they will take the steps necessary
      for them to have a millionaire mindset & to make a decision today to
      become millionaires.

      <br />
      <br />

      Believe it or not, I started my real estate journey in 2019. I saw a
      friend that was in real estate and was doing really well and I thought to
      myself, I'd better start researching this thing about investing in real
      estate. So, I started researching, reading books like Poor Dad Rich Dadd,
      Think and grow Rich, The Multifamily Millionaire, and many others. I
      started to join Real Estate Facebook Groups, listening to podcasts on
      wealth, on self development, and so on. I was thirsty for KNOWLEDGE and
      spent most of my free time on educating myself on real estate and how to
      invest in real estate. Then one day, I was feeling like it was not
      possible, and carried that belief that had been implanted by my self
      doubts for a coulple of days, then something funny happened, I heard an
      inner voice that said, you know what, just take a LEAP of faith!

      <br />
      <br />

      And that was the moment that my mind started shifting to, it is possible,
      to then believing in it, to finally being in it! And that is when things
      really started happening for me! I started doing Joint Ventures on Flips,
      BRRRRs, Wholesaling, and just doing as many Flips and BRRRRs as possible,
      while also wholesaling properties. Through those JVs and through learning
      the art of wholesaling, I started making some serious money as I was all
      in on real estate.

      <br />
      <br />

      At the same time, I was reading a lot of books on self development, like
      Bob Proctor's, Change Your Paradigm Change Your Life, or The Science of
      Getting Rich by Wallace D. Wattles, The Power of Awarness and the Wealth
      Mindset by Nevill Goddard, and so on. Looking back, I must have told my
      future self that I needed to learn everything I could on how to get rich.
      I was programming myselfto believe that I also could become rich through
      real estate. A big part of my coaching and how I differentiate myselffrom
      other real estate coaches is in instilling a believe in my
      students/mentees that they can accomplish anything!

      <br />
      <br />

      Prior to being in real estate, I had worked for the biggest banks in
      Canada as a financial advisor, advising clients on how to save for
      retirement, how invest in stocks, mutual funds, options, derivatives, etc.
      Then in 2008 I had a spiritual awakening which took me toSouth Korea to
      teach english and travel around Asia. For about two years, I travelled
      throughout Asia, including to countries like India, China, the
      Phillipines, etc. Those two years were essential for the awakening that we
      are creators of our reality. The reason Imention this is that the universe
      has a way of putting all your experiences together in the now and all the
      experiences that I have had and that you too have had and are having that
      point to the wisdom that we are powerful and have the ability to create
      our lives.

      <br />
      <br />

      So, why coaching for me ...

      <br />
      <br />

      The reason I started coaching was that I started seeing new real estate
      investors that were struggling with one aspect or another ofeal estate
      investing. So instead of not doing anything and continue to see them
      struggle, I decided that I could make a difference and help them in their
      real estate journey. I coach not because of the money, I coach because I
      am passionate about seeing others succeed. I enjoy seeing my students's or
      mentee's growth and see them achieve goals they never thought were
      possible.

      <br />
      <br />

      I have all the tools, wisdom, knowledge, and resources to help you achieve
      amazing things in your real estate business and life! This year, my goal
      is to touch and influence 150 new real estate investors and to share the
      message that you too can achieve more than you ever thought you could, and
      to have 5 students and no more than that, so that I can really work on
      their mindset and help them become financially free through real estate.

      <br />
      <br />

      It's time for you to make the decision, which is, will you be one of the
      five students in 2024 that I will teach and share everything I know,
      including my network, my resources, but most importantly that will see the
      biggest transformation in 2024 in your real estate business and life!

      <br />
      <br />

      To schedule a DISCOVERY Call to see if there is a mutual fit in us working
      together, please CLICK on my calendar link below to schedule a meeting for
      us to meet at a time and date that is convenient for you!

      <br />
      <br />

      <a
        href='https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia-1'
        >"https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia"
      </a>

      <br />
      <br />

      I look forward to meeting you & helping you have the biggest mindset shift
      in your life and in helping you get the biggest results in

      <br />
      <br />

      your real estate journey in 2024!

      <br />
      <br />

      To your success,

      <br />
      <br />

      - Rommel Pravia

      <br />
      <br />

      Senior Real Estate Investor & Coach

      <br />
      <br />

      THE FUTURE REAL ESTATE MILLIONAIRE COACHING
    </p>

    <section>
      <h2
        class='text-primary-color text-center text-3xl font-bold border-b-4 border-primary-color pb-4'
      >
        Meet your Coach
      </h2>

      <div class='lg:flex gap-2 lg:p-6'>
        <Image
          class='p-4 m-auto md:w-1/2'
          src={ProfileImage}
          alt='imagen de perfil de una persona'
        />

        <section class='space-y-8'>
          <div class='space-y-4'>
            <h3
              class='text-primary-color text-xl  border-b border-white pb-2'
            >
              Rommel Pravia

              <br />

              <span class='text-slate-100 text-base'>
                Real Estate Investing Coach
              </span>
            </h3>

            <p class='text-slate-100'>
              Rommel Pravia has been a successful real estate investor for over
              5 years. With a background in finance and real estate, he has
              helped numerous clients achieve their investment goals. Rommel has
              experience in both residential, multifamily, & commercial real
              estate, and his expertise includes property deal analysis,
              financing & raising capital, and deal negotiation. He has
              experience doing Flips, BRRRRS, & manages over 300 doors.
            </p>
          </div>

          <div class='space-y-4'>
            <h3 class='text-primary-color text-xl font-semibold'>
              EDUCATION
              <br />
             
            </h3>
            <p class='text-slate-100'>
              BA with concentration in Economics at Western
            </p>
          </div>

          <div class='space-y-4'>
            <h3 class='text-primary-color text-xl font-semibold'>
              MASTERMINDS
            </h3>

            <p class='text-slate-100'>
              Rich Dad Poor Dad<br />
              Proctor Gallagher Institute<br />
              Dale Carnegie Sales Training<br />
              Grant Cardone Sales Training<br />
            </p>
          </div>
        </section>
      </div>
    </section>
  </main>
</Layout>
