---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Contact'>
  <main class='bg-secondary-color space-y-4 px-4 py-10 md:px-20 lg:px-44'>
    <h1 class='text-4xl text-slate-100 border-b-2 border-primary-color pb-2'>
      CONTACT US
    </h1>

    <p class='text-slate-100 text-center'>
      If you have any questions or would like to learn more about my real estate
      investing coaching services, please fill out the form below and I will get
      back to you as within 24 to 48 hours.
    </p>

    <form class='mt-4 lg:px-40'>
      <div class='mb-3 space-y-2 grid'>
        <label for='name' class='text-slate-100 font-semibold'>
          First Name
        </label>
        <input
          type='text'
          id='first-name'
          class='text-white bg-secondary-color border-primary-color rounded-lg'
        />
      </div>

      <div class='mb-3 space-y-2 grid'>
        <label for='name' class='text-slate-100 font-semibold'>
          Last Name
        </label>
        <input
          type='text'
          id='last-name'
          class='text-white bg-secondary-color border-primary-color rounded-lg'
        />
      </div>

      <div class='mb-3 space-y-2 grid'>
        <label for='name' class='text-slate-100 font-semibold'>Email * </label>
        <input
          type='email'
          id='help-email'
          class='text-white bg-secondary-color border-primary-color rounded-lg'
        />
        <span class='text-slate-100 text-sm'
          >We'll never share your email with anyone else.</span
        >
      </div>

      <div class='mb-3 space-y-2 grid'>
        <label for='name' class='text-slate-100 font-semibold'>Phone</label>
        <input
          type='tel'
          id='phone'
          class='text-white bg-secondary-color border-primary-color rounded-lg'
        />
      </div>

      <div class='mb-3 space-y-2 grid'>
        <label for='name' class='text-slate-100 font-semibold'>Comments</label>
        <textarea
          name='comments'
          class='text-white bg-secondary-color border-primary-color rounded-lg'
        ></textarea>
      </div>

      <button
        class='bg-primary-color text-lg text-black font-semibold rounded-lg px-5 py-2.5 text-center'
        >Submit</button
      >
    </form>
  </main>
</Layout>
