---
import Montanista from '@assets/inicio/escalista.png'
import ProfileImage from '@assets/inicio/profile-1.png'
import YateImage from '@assets/inicio/yate.png'
import Button from '@components/Button.astro'
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout title='THE FUTURE REAL ESTATE MILLIONAIRE COACHING'>
  <main>
    <section
      class='custom-gradient bg-center bg-cover bg-no-repeat flex flex-col items-center justify-center px-4 lg:px-20 py-4 gap-4 md:h-96 lg:h-[calc(100vh-64px)]'
    >
      <h1
        class='text-4xl font-bold text-secondary-color border-b-2 border-primary-color pb-2 lg:text-7xl'
      >
        MAXIMIZE YOUR REAL ESTATE INVESTING POTENTIAL
      </h1>

      <p class='text-primary-color text-lg italic lg:self-start lg:text-3xl'>
        Real Estate Investing Coaching for those that want to acquire a
        Millionaire Mindset!
      </p>
      <Button />
    </section>

    <section class='flex flex-col bg-secondary-color w-full md:flex-row'>
      <div class='px-4 py-10 space-y-4 md:w-1/2 shrink-0'>
        <h2 class='text-primary-color text-2xl font-semibold'>
          ABOUT MY REAl ESTATE INVESTING COACHING
        </h2>
        <p class='text-slate-100'>
          I provide expert real estate investing coaching to new & experienced
          real estate investors who are looking to create a limitless abundant
          lifesyle. I believe creating a lifestyle where you have time & money
          freedom are not only possible but closer than you think. With my
          expert advice & coaching, you will be surprised at what you will can
          accomplish!
        </p> ​

        <p class='text-slate-100'>
          - Rommel Pravia
          <br />
          Founder & Senior Real Estate Investing Coach
        </p>
      </div>

      <Image
        height={240}
        src={YateImage}
        alt='Imagen de un yate en un oceano'
        class='bg-right bg-cover object-cover object-center overflow-hidden lg:w-3/5'
      />
    </section>

    <section class='flex flex-col md:flex-row-reverse'>
      <div
        class='about-4 bg-tertiary-color px-3 py-10 flex flex-col items-center gap-4 shrink-0 md:w-1/2'
      >
        <h2 class='text-slate-100 text-2xl font-semibold text-center'>
          ADVANCED REAL ESTATE AND MINDSET PROGRAM
        </h2>

        <h3 class='text-3xl font-bold text-primary-color'>CA$ 5,000</h3>

        <p class='text-slate-100 text-xs text-center'>
          Perfect for those with 3 to 5 years experience in real estate who want
          to scale their business
          <br />
          valid for 6 months
        </p>

        <button class='bg-primary-color font-semibold text-lg w-5/6 h-14'>
          SELECT
        </button>

        <ul class='text-slate-100 space-y-4 text-center text-sm'>
          <li>Visualization and Goal Setting Techniques</li>
          <li>Laser Focus Real Estate business Training</li>
          <li>Millionaire Mindset in Your business</li>
          <li>Branding Package and Becoming an Influencer</li>
          <li>Wealth Beyond Your Current Limits</li>
          <li>Implementation and Execution of Bigger Goals</li>
          <li>1 Free Ticket to Our Real Estate and Wealth retreat in SJ</li>
          <li>And Much More!</li>
        </ul>
      </div>

      <Image
        src={Montanista}
        alt='Persona escanlando una montaña'
        class='hidden bg-cover bg-center object-cover overflow-hidden w-full md:block md:object-left'
      />
    </section>

    <section
      class='continer-slider bg-cover bg-center bg-no-repeat overflow-hidden flex space-x-40 h-[65vh] lg:h-[100vh]'
    >
      <div class='flex items-center animate-loop-scroll space-x-40'>
        <div
          id='fade-element'
          class='flex flex-col gap-2 items-center text-slate-100 w-[80vw] md:w-[65vw]'
        >
          <p class='text-center text-lg italic md:text-xl'>
            “We highly recommend Rommel's real estate coaching for experienced
            real estate investors. As a result of his coaching, our real estate
            business has trippled since joining 3 months ago.”
          </p>
          <span class='text-lg font-semibold'>Heather & Steve smith</span>
        </div>

        <div
          id='fade-element'
          class='flex flex-col gap-2 items-center text-slate-100 w-[80vw] md:w-[65vw]'
        >
          <p class='text-center text-xl italic'>
            “Rommel's expert coaching has helped me navigate the real estate
            investing industry and make smart & wise investment decisions. Three
            years later, he continues to be an integral part of our power team &
            is continuing to help us grow our business.”
          </p>
          <span class='text-lg font-semibold'>Mike mcdonald</span>
        </div>

        <div
          id='fade-element'
          class='flex flex-col gap-2 items-center text-slate-100 w-[80vw] md:w-[65vw]'
        >
          <p class='text-center text-xl italic'>
            “Coach Rommel's knowledge & experience provided me with valuable
            insights into the real estate industry. His coaching helped me
            achieve success in my first real estate deal.”
          </p>
          <span class='text-lg font-semibold'>joanne Lee</span>
        </div>

        <div
          id='fade-element'
          class='flex flex-col gap-2 items-center text-slate-100 w-[80vw] md:w-[65vw]'
        >
          <p class='text-center text-xl italic'>
            “We highly recommend Rommel's real estate coaching for experienced
            real estate investors. As a result of his coaching, our real estate
            business has trippled since joining 3 months ago.”
          </p>
          <span class='text-lg font-semibold'>Heather & Steve smith</span>
        </div>

        <div
          id='fade-element'
          class='flex flex-col gap-2 items-center text-slate-100 w-[80vw] md:w-[65vw]'
        >
          <p class='text-center text-xl italic'>
            “Rommel's expert coaching has helped me navigate the real estate
            investing industry and make smart & wise investment decisions. Three
            years later, he continues to be an integral part of our power team &
            is continuing to help us grow our business.”
          </p>
          <span class='text-lg font-semibold'>Mike mcdonald</span>
        </div>

        <div
          id='fade-element'
          class='flex flex-col gap-2 items-center text-slate-100 w-[80vw] md:w-[65vw]'
        >
          <p class='text-center text-xl italic'>
            “Coach Rommel's knowledge & experience provided me with valuable
            insights into the real estate industry. His coaching helped me
            achieve success in my first real estate deal.”
          </p>
          <span class='text-lg font-semibold'>joanne Lee</span>
        </div>
      </div>
    </section>

    <section
      class='bg-secondary-color py-10 space-y-4 w-full px-4 md:px-10 lg:px-20'
    >
      <h2
        class='text-primary-color text-2xl font-semibold text-center border-b-2 border-primary-color'
      >
        MEET YOUR COACH
      </h2>

      <div class='lg:flex items-center'>
        <Image
          class='p-4 m-auto md:w-3/5 lg:w-2/5'
          src={ProfileImage}
          alt='imagen de perfil de una persona'
        />

        <div class='grid place-items-center space-y-6'>
          <h3 class='text-primary-color font-semibold text-xl text-center'>
            Meet coach rommel pravia
          </h3>

          <p class='text-slate-100 text-sm md:text-base px-3'>
            Rommel Pravia is a successful real estate investor with many years
            of real estate investing experience. He has done FLIPS, BRRRRS, BUY
            & HOLDS, & JOINT VENTURES, all while using OPM (Other Peoples
            Money). He has coached many new & experienced investors and has
            helped them achieve unbelieveable success in the industry. He has a
            wealth of knowledge & wisdom that he shares with his coaching
            students.
          </p>

          <Button />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .custom-gradient {
    background-image: linear-gradient(rgba(5, 7, 12, 0.2), rgba(5, 7, 12, 0.3)),
      url(/images/inicio/reloj.png);
  }

  .continer-slider {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url(/images/inicio/deportista.png);
  }
</style>
