---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Plans">
    <body>
        <section class="planes">

            <h1>PLANS</h1>
        
            <div class="pricing-wrapper">
                <div class="pricing-table">
                    <h1 class="title">VIP PROGRAM</h1>
                    <h2>CA$ 10,000</h2>
                    <h5>Open your eyes to huge opportunities program</h5>
                    <h6>Valid for 12 months</h6>
                   
        
                    <div class="table-buy">
                                      <a class="sl" href="https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia">SELECT</a>
                    </div>
                    <br><br>
                    <ul class="pricing-list">
                        <li>Super Visualization and Goal-Setting Techniques</li>
                        <li>Business and Portfolio Diversification</li>
                        <li>Super Charge Your Millionaire Paradigms</li>
                        <li>Manifest Your Millionaire Lifestyle With Ease Meditations</li>
                        <li>Branding Package and Becoming An Influencer</li>
                        <li>Motivation and Team Building</li>
                        <li>Partner with me on one of my Big business Opportunities</li>
                        <li>1 Free Ticket to our Real Estate and Wealth Retreat in SJ</li>  
                        <li>And Much More!</li>
                    </ul>
                 
                </div>
        
                 <div class="pricing-table">
                    <h1 class="title">Advanced Real Estate and Mindset Program</h1>
                    <h2>CA$ 5,000</h2>
                    <h5>Perfect for those with 3 to 5 years experience in real estate who want to scale their business</h5>
                  
                    <h6>Valid for 6 months</h6>
                   
        
                    <div class="table-buy">
                                      <a class="sl" href="https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia">SELECT</a>
                    </div>
                    <br><br>
                    <ul class="pricing-list">
                    <ul class="pricing-list">
                        <li>Visualization and Goal Setting Techniques</li>
                        <li>Laser Focus Real Estate Business Training</li>
                        <li>Millionaire Mindset in Your Business</li>
                        <li>Branding Package and Becoming an Influencer</li>
                        <li>Wealth Beyond Your Current Limits</li>
                        <li>Implementation and Execution of Bigger Goals</li>
                        <li>1 Free Ticket to Our Real Estate and Wealth Retreat in SJ</li>
                        <li>And Much More!</li>
                    </ul>
                   
        
                </div>
        
                <div class="pricing-table">
                    <h1 class="title">Acquire your first investment property</h1>
                    <h2>CA$ 3,000</h2>
                    <h5>For new real estate investors looking to have their handheld throughout the entire process</h5>
                    
                       <h6>Valid for 3 months</h6>
                   
        
                       <div class="table-buy">
                                         <a class="sl" href="https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia">SELECT</a>
                       </div>
        
                       <br><br>
                       <ul class="pricing-list">
                    <ul class="pricing-list">
                        <li>Goal Setting and Goal Accomplishment</li>
                        <li>Foundation and Fundamentals</li>
                        <li>Deal Acquisition, Deal Analysis, and Making Offers</li>
                        <li>Mindset</li>
                        <li>Implementation and Execution</li>
                        <li>And Much More!</li>
                    </ul>
                    
        
                </div>
            </div>
        </section>
        </body>
    <style>
       a{
color: #fdc517;
text-decoration: none;
}
ul{
    list-style-type: none;
}

body{
    background-color: #393b3c;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: #FFF;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.pricing-wrapper{
    width: 960px;
    margin: 60px auto 20px;
}

.pricing-table{
    float: left;
    width: 300px;
    margin: 0 10px;
    text-align: center;
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;


}

.table-buy{
    background-color: #e7c26c;
    padding: 20px 0;
    color: #000000;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.sl{
    color: #000000;
    font-size: 15px;
    font-weight: bolder;

}

h2{
    
    color: #e7c26c;
    font-size: 30px;
    font-weight: bolder;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.pricing-list {
    text-align: center;
    color: #ffffff;
}

.pricing-list ul {
    padding-left: 0;
    list-style-type: none; 
}

.pricing-list li {
    margin-bottom: 30px; 
    font-weight: normal;
    font-size: 14px;
}
.pricing-list li::before {
    content: '\f00c'; 
    font-family: 'FontAwesome';
    display: inline-block;
    color: #e7c26c;
    font-size: 14px;
    position: relative;
    right: 6px;
}

h5{
    font-size: 12px;
    }

h6{
    font-size: 14px;
}


        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .container {
            flex: 1;
        }
    </style>
</Layout>
