---
import Layout from '../layouts/Layout.astro';

---

<Layout title='Podcast'>
<body>
    <div class="section">
        <div class="contain">
            <div class="content-section">
                <div class="title">
                    <h1>PODCAST</h1>
                </div>

                <div class="content">

                    <p>
                        Welcome to my podcast, "THE FUTURE REAL ESTATE MILLIONAIRE COACHING" <br>


                        Through this medium, we talk about everything real estate, from interviews to the top real
                        estate
                        investors in canada and the us, to lunch & learn podcasts featuring yours truly, to running
                        workshops on topics such as, "your first investment in real estate, what JV partners are & how
                        to
                        capitalize on Joint ventures, to implementing real estate strategies such as a flip, a
                        wholetail, a
                        buy & hold, & a brrrrr, & many other topics that will be of interest to our audience! You will
                        get
                        it all here. <br>

                        ​

                        I hope you enjoy the podcast episodes (you can catch them by clicking on the episode links
                        below!)
                        <br>



                         Here is to many fantastic episodes coming your way! <br>

                        ​

                        Rommel Pravia <br>

                        Founder and CEO of The 10X real estate advisor and THE FUTURE REAL ESTATE MILLIONAIRE COACHING
                        <br>
                    </p>
                </div>
                <br>

            </div>
            <div class="image-section">
                <img src="Set.jpg" alt="">
            </div>
        </div>
    </div>

    <section class="tabla">
        <table class="table caption-top">
            <caption>List of users</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </section>
</body>
<style>
.title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    position: relative; 
    margin: 0;
    padding: 0 0px; /* Añadido un espacio interior a los lados para separar el texto del borde */
}

p {
    font-weight: 300;
    color: white;
    font-size: 15px;
    text-align: left;
    margin: 24px 0;
    padding: 0;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #393b3c;

}

.contain{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px ;
}

.content-section{
float: left;
width: 55%;
}
.image-section{
    float: right;
    width: 40%;

}

.image-section img{
width: 100%;
height: auto;

}
</style>
</Layout>