---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Vlog">
 <body>
    <h1>All Posts</h1>
    <br>
<Card 
href={"https://editor.wix.com/html/editor/web/renderer/edit/e3f792e4-3223-4fdd-93b2-06244132b723?metaSiteId=e60db1a7-88ff-48b9-8546-aa141682b332"}
src="vivienda.png"
title="5 UP-AND-COMING NEIGHBORHOODS"
body="Owning good hard assets has never been more important for Canadians. One asset that has proven to have long-term benefits in Ontario is owning good real estate. That’s partially due to Ontario’s continued demand growth from its..."
h6="Jan 17 - 10min"
/>
<br>
<Card 
href={"https://editor.wix.com/html/editor/web/renderer/edit/e3f792e4-3223-4fdd-93b2-06244132b723?metaSiteId=e60db1a7-88ff-48b9-8546-aa141682b332"}
src="planta.png"
title="8 tips for welcoming new tenants into your rental property"
body="Phew! You’ve made it. With Avail’ help and guidance, you’ve properly screened tenants for your rental property and followed the steps for creating a rock-solid lease agreement. ..."
h6="Jan 17 - 7min"
/>
<br>
<Card 
href={"https://editor.wix.com/html/editor/web/renderer/edit/e3f792e4-3223-4fdd-93b2-06244132b723?metaSiteId=e60db1a7-88ff-48b9-8546-aa141682b332"}
src="docum.png"
title="Must-Have Real Estate  Contract Conditions"
body="Most people are simply not financially secure enough to make an all-cash offer on a home—and chances are, you are one of them. That means you will have to take out a mortgage..."
h6="Jan 12 - 5min"
/>
<br>
</body>

<style>
    h1{
        color: #ffff;
    }
    body{
        background-color: #393b3c;
    }
    
</style>

</Layout>


