---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
---

<Layout title='Vlog'>
  <main class='bg-secondary-color px-4 py-10 space-y-6'>
    <h1 class='text-slate-100 text-2xl font-semibold'>All Post</h1>

    <section class='grid gap-10 md:grid-cols-2'>
      <Card
        image='/images/vlog/vivienda.png'
        date='Rommel Pravia Jan 17 - 10min'
        title='5 UP-AND-COMING NEIGHBORHOODS'
        link='https://the10xrealestatead.wixsite.com/coaching/post/5-up-and-coming-neighborhoods'
        body='Owning good hard assets has never been more important for Canadians. One asset that has proven to have long-term benefits in Ontario is owning good real estate. That’s partially due to Ontario’s continued demand growth from its...'
      />
      <Card
        image='/images/vlog/planta.png'
        date='Rommel Pravia Jan 17 - 7min'
        title='8 tips for welcoming new tenants into your rental property'
        link='https://the10xrealestatead.wixsite.com/coaching/post/8-tips-for-welcoming-new-tenants-into-your-rental-property'
        body='Phew! You’ve made it. With Avail’ help and guidance, you’ve properly screened tenants for your rental property and followed the steps for creating a rock-solid lease agreement. ...'
      />
      <Card
        image='/images/vlog/document.png'
        date='Rommel Pravia Jan 12 - 5min'
        title='Must-Have Real Estate  Contract Conditions'
        link='https://the10xrealestatead.wixsite.com/coaching/post/must-have-real-estate-contract-conditions'
        body='Most people are simply not financially secure enough to make an all-cash offer on a home—and chances are, you are one of them. That means you will have to take out a mortgage...'
      />
    </section>
  </main>
</Layout>
