<div class='inicio-content container'>
  <div class='botones-container'>
    <button
      class='boton'
      onclick="window.location.href = 'https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia';"
      >BOOK a discovery call now</button
    >
    <button
      class='botonv'
      onclick="window.location.href = 'https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia';"
    ></button>
  </div>
</div>

<style>
  /* M칩viles grandes */
  @media (min-width: 576px) {
    /* Tus estilos para m칩viles grandes */
  }

  /* Tabletas */
  @media (min-width: 768px) {
    /* Tus estilos para tabletas */
  }

  /* Escritorios peque침os */
  @media (min-width: 992px) {
    /* Tus estilos para escritorios peque침os */
  }

  /* Escritorios grandes */
  @media (min-width: 1200px) {
    /* Tus estilos para escritorios grandes */
    .botones-container {
      display: flex;
      justify-content: left;
    }

    .boton {
      font-size: 25px;
      color: #2c2c2c;
      padding: 30px 20px;
      margin: 0;
      text-align: left;
      display: block;
      width: 38%;
      box-sizing: border-box;
      text-transform: uppercase;
      background-color: aliceblue;
    }

    .botonv {
      font-size: 30px;
      color: #161615;
      padding: 30px 25px;
      margin: 0;
      text-align: left;
      display: block;
      width: 0%;
      box-sizing: border-box;
      border: none;
      background-color: #ffc107;
      background-image: url('/arrow-27324.svg');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 10px center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
</style>
