---
import { ArrowRight } from 'lucide-astro'
---

<a
  class='flex h-14 md:self-start'
  href='https://calendly.com/advancedwealthmanagement-canada/meeting-with-rommel-pravia-1'
>
  <div
    class='bg-slate-100 font-semibold self-center h-14 flex items-center p-3'
  >
    <span>BOOK A DISCOVERY CALL</span>
  </div>

  <div class='grid place-content-center bg-primary-color w-14 h-14'>
    <ArrowRight />
  </div>
</a>
