---
import { Facebook, Youtube, Twitter, Linkedin } from 'lucide-astro'
---

<footer
  class='bg-quaternary-color grid gap-6 p-4 md:grid-cols-2 lg:grid-cols-4'
>
  <section class='space-y-4 p-2'>
    <h2 class='text-primary-color text-xl text-center font-semibold'>
      THE FUTURE REAL ESTATE MILLIONAIRE COACHING
    </h2>

    <ul class='flex items-center justify-evenly text-slate-100'>
      <a
        title='enlace al perfil de Facebook'
        href='https://www.facebook.com/rommel.pravia.79/'
      >
        <Facebook class='w-7 h-7' />
      </a>
      <a
        title='enlace al canal de Youtube'
        href='https://www.youtube.com/channel/UC8Wdkp37F2NK54SR63PLg1Q'
      >
        <Youtube class='w-7 h-7' />
      </a>
      <a title='enlace al canal de X' href='https://x.com/RommelPravia10'>
        <Twitter class='w-7 h-7' />
      </a>
      <a
        title='enlace al canal de Linkedin'
        href='https://www.linkedin.com/in/rommel-pravia-89b4a8231/'
      >
        <Linkedin class='w-7 h-7' />
      </a>
    </ul>

    <h3 class='text-slate-100 text-center text-sm'>
      © 2023 Developed by PUSH MEDIA
    </h3>
  </section>

  <section class='space-y-4 p-2'>
    <h2 class='text-primary-color text-xl text-center font-semibold'>
      HOURS OF OPERATION
    </h2>
    <ul class='text-slate-100 space-y-2 text-center'>
      <li>Mon-Thu: 9AM to 8PM</li>
      <li>Friday: 9AM to 3PM</li>
      <li>Sat-Sun: Closed</li>
    </ul>
  </section>

  <section class='space-y-4 p-2'>
    <h2 class='text-primary-color text-xl text-center font-semibold'>
      GET IN TOUCH
    </h2>
    <ul class='text-slate-100 space-y-2 text-center'>
      <li>Tel: 786.634.6029</li>
      <li>647.800.3787</li>
    </ul>
  </section>

  <section class='space-y-4 p-2'>
    <h2 class='text-primary-color text-xl text-center font-semibold'>MENU</h2>

    <ul class='text-slate-100 flex justify-around items-center flex-wrap gap-4'>
      <li>
        <a class='hover:text-primary-color hover:font-bold' href='/'>INICIO</a>
      </li>

      <li>
        <a class='hover:text-primary-color hover:font-bold' href='/about'>
          ABOUT
        </a>
      </li>

      <li>
        <a class='hover:text-primary-color hover:font-bold' href='/plans'>
          PLANS
        </a>
      </li>

      <li>
        <a class='hover:text-primary-color hover:font-bold' href='/podcast'>
          PODCAST
        </a>
      </li>

      <li>
        <a class='hover:text-primary-color hover:font-bold' href='/vlog'>
          VLOG
        </a>
      </li>

      <li>
        <a class='hover:text-primary-color hover:font-bold' href='/contact'>
          CONTACT
        </a>
      </li>
    </ul>
  </section>
</footer>
