---
import { Menu } from 'lucide-astro'
import { Image } from 'astro:assets'
import Logo from '@assets/logo.png'
import Navigation from '@components/Navigation.astro'
---

<header class='bg-secondary-color h-16 flex justify-end w-full px-2'>
  <nav class='flex justify-between items-center w-[92%] mx-auto md:hidden'>
    <div>
      <Image
        src={Logo}
        alt='logo de la paguina'
        class='w-8 h-8 lg:w-10 lg:h-10'
      />
    </div>
    <div
      class='nav-links duration-500 absolute bg-black text-primary-color h-[calc(100vh-64px)] left-0 top-[-100%] w-full flex justify-center pt-40'
    >
      <Navigation />
    </div>
    <div class='flex items-center gap-6'>
      <button id='menu' class=''>
        <Menu class='w-12 h-12 text-primary-color' />
      </button>
    </div>
  </nav>

  <div class='hidden w-full md:flex md:items-center md:gap-2'>
    <Image
      src={Logo}
      alt='logo de la paguina'
      class='w-8 h-8 lg:w-10 lg:h-10'
    />

    <p class='text-slate-200 md:grow'>
      The future real estate millionaire coaching
    </p>

    <nav>
      <Navigation />
    </nav>
  </div>
</header>

<script>
  // Encuentra el boton con id `alert` en la página.
  const IconMenu = document.getElementById('menu')
  // Maneja los clics en cada botón.

  IconMenu.addEventListener('click', (e) => {
    const navLinks = document.querySelector('.nav-links')
    function onToggleMenu(e) {
      e.name = e.name === 'menu' ? 'close' : 'menu'
      navLinks.classList.toggle('top-[8%]')
    }

    onToggleMenu(e)
  })
</script>
