<div
  class='text-primary-color font-bold flex flex-col items-center md:flex-row md:justify-between gap-4'
>
  <a href='/'>INICIO</a>
  <a href='/about'>ABOUT</a>
  <a href='/plans'>PLANS</a>
  <a href='/podcast'>PODCAST</a>
  <a href='/vlog'>VLOG</a>
  <a href='/contact'>CONTACT</a>
</div>
